<section class="ui stackable segment">

	<h2 class="ui center aligned header">Messages</h2>
	<hr>
	<div class="ui comments">
		<div class="comment">
			#{if user.inbox.size() > 0} #{list items:user.inbox, as:'message'} <a
				class="avatar"> <img
				src="/profile/getthumbnail/${message.from.id}">
			</a>
			<div class="content">
				<a class="author" href="/publicprofile/${message.from.id}"
					id="anchor_blue"> ${message.from.firstName}</a>
				<div class="text">${message.messageText}</div>
				<br>
			</div>
			#{/list} #{/if}
		</div>
		<form action="/publicprofile/sendmessage/${user.id}"
			class="ui reply form" method="post">
			<div class="field">
				<textarea name="messageText" placeholder="Leave a message"></textarea>
			</div>
			<button class="ui blue icon button">
				<i class="mail icon"></i>
			</button>
		</form>
	</div>
</section>
