<section class="ui stackable segment">
	<h2 class="ui center aligned header">Friends
		(${user.friendships.size()})</h2>
	<hr>
	<div class="ui relaxed divided list">
		#{list items:user.friendships, as:'friendship'}
		<div class="item">
			<img class="ui tiny rounded image"
				src="/profile/getthumbnail/${friendship.targetUser.id}">
			<div class="content">
				<a class="ui header"
					href="/publicprofile/${friendship.targetUser.id}">
					${friendship.targetUser.firstName}
					${friendship.targetUser.lastName} </a> <a
					href="/home/drop/${friendship.targetUser.id}"><i
					class="blue remove user icon"></i></a>
			</div>
		</div>
		#{/list}
	</div>
</section>


