<section class="ui stackable segment">
	<h2 class="ui center aligned header">Messages</h2>
	<hr>
	#{if user.inbox.size() > 0}
	<table class="ui table segment">
		<thead>
			<tr>
				<th>From</th>
				<th>Sender</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			#{list items:user.inbox, as:'message'}
			<tr>
				<td>
					<div class="ui avatar image">
						<img src="/profile/getthumbnail/${message.from.id}">
					</div>
				</td>
				<td>#{if message.from.active == true} <i
					class="green circle icon"></i> #{/if} #{if message.from.active !=
					true} <i class="circle thin icon"></i> #{/if} <a
					href="/publicprofile/${message.from.id}">
						${message.from.firstName}</a>




				</td>
				<td>${message.messageText}</td>
			</tr>
			#{/list}
		</tbody>
	</table>
	#{/if}