<section class="ui stackable segment">
	<h2 class="ui center aligned header">Profile Picture</h2>
	<hr>

	<section class="ui middle aligned grid form segment">
		<div class="column">
			<img class="ui small centered image" src="/profile/getpicture/${user.id}">
		</div>
	</section>

	<h2 class="ui center aligned header">Thumbnail Picture</h2>
	<hr>
	<section class="ui middle aligned grid form segment">
		<div class="column">
			<img class="ui small centered image" src="/profile/getthumbnail/${user.id}">
		</div>
	</section>
</section>
