<section class="ui stackable segment">
	<h2 class="ui center aligned header">Status</h2>
	<hr>
	<div class="ui yellow large message">
		<p>${user.statusText}</p>
	</div>
	<section class="ui form segment">
		<form #{if request.url== "/profile"}action="/profile/changestatus"
			#{/if}#{if request.url== "/home"}action="/home/changestatus"
			#{/if} method="POST">
			<div class="field">
				<textarea placeholder="What would you like to rant about today?"
					name="statusText"></textarea>
			</div>
			<button class="ui button blue submit labeled icon">
				<i class="icon edit"></i> Update
			</button>
		</form>
	</section>
</section>

