#{extends 'main.html' /} #{set title:'Home' /}

<nav class="ui stackable inverted menu">#{include
	"components/navigation.html" /}</nav>


<section class="ui two column grid inverted segment">
	<h1 class="ui inverted center aligned header">${user.firstName}
		${user.lastName}</h1>
		<div class="ui column">#{include "components/friends.html" /}
			#{include "components/profileimages.html" /}</div>
		<div class="ui column">#{include "components/statusupdate.html"
			/} #{include "components/messages.html" /}</div>
</section>


