<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.10.2/semantic.css">
    <link type="text/css" rel="stylesheet" href="../../../public/stylesheets/main.css" media="screen"/>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script> 
		<link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>  </head>    
  <body class="ui container segment">

      #{doLayout /}

  </body>
</html>
