#{extends 'main.html' /}
#{set title:'Profile' /}

<nav class="ui stackable inverted menu">
	#{include "components/navigation.html" /} 
</nav> 

<h1 class="ui inverted teal block header" >${user.firstName} ${user.lastName}'s Profile</h1>
<section class="ui  two column grid segment">
  <div class="row">
    <div class="column">
   	  #{include "components/profilesummaryextended.html" /}
      #{include "components/profileimages.html" /} 
    </div>
    <div class="column">
      #{include "components/statusupdate.html" /}   
    </div>
  </div>
</section>