#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup  </a>
    <a class="item" href="/login">  Login   </a>
  </div>
</nav> 


<section class="ui raised segment">


  <p> Signup or Log in to the Spacebook Service </p>
  
</section>
	#{list items:users, as:'user'}
  #{if user.posts.size() > 0}
 <a href="/publicblog/${user.id}">${user.firstName}'s Blog</a> 
  #{/if}
 #{/list} 			 